.app {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.app-logo {
  animation: app-logo-spin infinite 10s linear;
  height: 80px;
}

.app-header {
  background-image: url('space.gif');
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.app-intro {
  font-size: large;
}

.app-intro-welcome-text {
  font-family: 'Rubik Mono One', sans-serif;
}

.app-card-avatar {
  width: 30px;
  border-radius: 25px;
  vertical-align: middle;
  margin-right: 5px;
}

.app-card-name {
  font-size: 10px;
  text-transform: uppercase;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
